<section class="bs-validation">
    <div class="row">
  
      <div class="col-md-6 col-12">
        <div class="card">
          <div class="card-header">
            <% if(typeof user == 'undefined'){%>
              <h4 class="card-title">Add Doctor</h4>
              <%} else {%>
              <h4 class="card-title">Edit Doctor</h4>
              <%}%>
          </div>
          <div class="card-body">
            <form id="jquery-val-form" method="post" action="<%= typeof user == 'undefined' ? '/admin/addDoctor': '/admin/updateDoctor'%>" enctype="multipart/form-data">
              <div class="mb-1">
                <label class="form-label" for="fName">First Name</label>
                <input type="text" class="form-control" id="fName" value="<%= typeof user == 'undefined' ? '': user.firstName%>" name="fName" placeholder="John Doe">
                <input type="hidden" name="id" value="<%= typeof user == 'undefined' ? '': user._id%>">
  
              </div>
              <div class="mb-1">
                <label class="form-label" for="lName">Last Name</label>
                <input type="text" class="form-control" id="lName" name="lName" value="<%= typeof user == 'undefined' ? '': user.lastName%>" placeholder="John Doe">
              </div>
              <% if(typeof user == 'undefined'){%>
              <div class="mb-1">
                <label class="form-label" for="email">Email</label>
                <input type="email" id="email" name="email" value="<%= typeof user == 'undefined' ? '': user.email%>" class="form-control" placeholder="john.doe@email.com">
              </div>
              <div class="mb-1 eye_input">
                <label class="form-label" for="password">Password</label>
                <input type="password" id="password" name="password" value="" class="form-control" placeholder="**********">
                <i class="far fa-eye-slash" id="togglePassword" style="top: 44px;"></i>
              </div>
              <%} else{ %>
                <div class="mb-1">
                  <label class="form-label" for="email">Email</label>
                  <input type="text" id="email" name="email" value="<%= typeof user == 'undefined' ? '': user.email%>" class="form-control" placeholder="john.doe@email.com" disabled>
                </div>
              <%} %>
              <div class="mb-1">
                <label class="form-label" for="mobile">Mobile</label>
                <input type="text" id="mobile" name="mobile" value="<%= typeof user == 'undefined' ? '': user.phoneNumber%>" class="form-control" placeholder="0123456789">
              </div>
              <div class="mb-1">
                <label class="form-label" for="doctorId">Doctor ID</label>
                <input type="text" id="doctorId" name="doctorId" value="<%= typeof user == 'undefined' ? '': user.phoneNumber%>" class="form-control" placeholder="UF003456">
              </div>

              <% if(typeof user == 'undefined'){%>
              <div class="mb-1">
                <label class="form-label" for="healthProfessional">Health Professional</label>
                <select name="healthProfessional" id="healthProfessional" class="form-control">
                    <% getCategory.forEach((data) => { %>
                        <option value="<%=data._id%>"><%=data.title%></option>
                    <% }) %>
                </select>
              </div>
              <%} else{ %>
                <div class="mb-1">
                  <label class="form-label" for="healthProfessional">Health Professional</label>
                  <select name="healthProfessional" id="healthProfessional" class="form-control" disabled>
                    <option value="<%=user?.categoryId._id%>"><%=user?.categoryId.title%></option>
                  </select>
                </div>
              <%}%>
  
              <div class="mb-1">
                <label for="customFile" class="form-label">Image </label>
                <input class="form-control" type="file" id="customFile" name="image">
              </div>
              <button type="submit" class="btn btn-primary waves-effect waves-float waves-light" name="submit" value="Submit">Submit</button>
              <button class="btn btn-secondary" onclick="history.back()">Cancel</button>
            </form>
          </div>
        </div>
      </div>
      <!-- /jQuery Validation -->
    </div>
  </section>
  <script>
    $('#jquery-val-form').validate({
      rules: {
        "fName": {
            required: true,
        },
        "lName": {
            required: true,
        },
        "email": {
            required: true,
        },
        "password": {
            required: true,
            minlength: 5,
            maxlength:15,
        },
        "doctorId": {
            required: true,
        },
        "mobile": {
            required: true,
            minlength: 10,
            maxlength:15,
            digits: true
        },
      },
      messages: {
        "fName": {
            required: "First Name field is required",
            minlength: "First Name field must contain at least {0} characters",
        },
        "lName": {
            required: "Last Name field is required",
            minlength: "Last Name field must contain at least {0} characters",
        },
        "email": {
            required: "Email field is required",
            minlength: "Email field must contain at least {0} characters",
        },
        "doctorId": {
            required: "Doctor ID field is required",
            minlength: "Doctor ID field must contain at least {0} characters",
        },
        "password": {
            required: "Password field is required",
            minlength: "Password field must contain at least {0} characters",
        },
        "mobile": {
            required: "Mobile field is required",
            minlength: "Mobile field must contain at least {0} characters",
            digits: "Mobile field can only contain numbers"
        }
      },
      // submitHandler: function (form) { // for demo
      //       alert('valid form');  // for demo
      //       return false;  // for demo
      //   }
    });

    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#password');

    togglePassword.addEventListener('click', function (e) {
      // toggle the type attribute
      const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
      password.setAttribute('type', type);
      // toggle the eye slash icon
      // this.classList.toggle('fa-eye-slash');
      if (type === 'password') {
        this.classList.remove('fa-eye');
        this.classList.add('fa-eye-slash');
      } else {
        this.classList.remove('fa-eye-slash');
        this.classList.add('fa-eye');
      }
    });
  </script>