<section class="app-user-view">
  <div class="app-user-view">
    <div class="user-info-wrapper">
      <div class="row">
        <!-- User Card starts-->
        <div class="col-xl-9 col-lg-8 col-md-7">
          <div class="card user-card">
            <div class="card-body">
              <div class="row">
                <div class="col-12 col-lg-12 mt-2 mt-xl-0 ms-auto text-start">
                  <button type="button" class="border-0 bg-transparent text-secondary  fs-1" onclick="history.back()"><i class="ph-duotone ph-arrow-circle-left"></i></button>
                </div>
                <div class="col-xl-6 col-lg-12 d-flex flex-column justify-content-between border-container-lg">
                  <div class="user-avatar-section">
                    <div class="d-flex justify-content-start">
                      <% if(user[0].role==2){%>
                        <img class="img-fluid rounded" src="<%= user[0]?.image ? user[0].image : '/assets/noimages.png' %>"
                          width="150" alt="User avatar">
                        <%} else {%>
                          <img class="img-fluid rounded" src="<%= user[0]?.image ? user[0].image : '/assets/noimages.png' %>"
                            width="150" alt="User avatar">
                        <%}%>
                      <div class="d-flex flex-column ms-1">
                        <div class="user-info mb-1">
                          <h4 class="mb-0">
                            <%= user[0].firstName %>
                              <%= user[0].lastName %>
                          </h4>
                          <span class="card-text">
                            <%= user[0].email%>
                          </span>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-12 mt-2 mt-xl-0">
                  <div class="user-info-wrapper">

                    <div class="d-flex flex-wrap my-50">
                      <div class="user-info-title">
                        <i class="me-1 fs-4 ph-duotone ph-check-circle"></i>
                        <span class="card-text user-info-title fw-bold mb-0">Status</span>
                      </div>
                      <p class="card-text mb-0">
                        <%= user[0].status==1 ? 'Active' : 'InActive' %>
                      </p>
                    </div>
                    <div class="d-flex flex-wrap my-50">
                      <div class="user-info-title">
                        <i class="me-1 fs-4 ph-duotone ph-star"></i>
                        <span class="card-text user-info-title fw-bold mb-0">Role</span>
                      </div>
                      <p class="card-text mb-0">
                        <%= user[0].role==2 ? 'Patient' : 'Doctor' %>
                      </p>
                    </div>
                    <div class="d-flex flex-wrap">
                      <div class="user-info-title">
                        <i class="me-1 fs-4 ph-duotone ph-phone"></i>
                        <span class="card-text user-info-title fw-bold mb-0">Mobile</span>
                      </div>
                      <p class="card-text mb-0">
                        <%= user[0]?.countrycode?user?.countrycode:"+1"%><%= user[0]?.phoneNumber%>
                      </p>
                    </div>
                    <% if(user[0].role==2){%>
                    <div class="d-flex flex-wrap my-50">
                      <div class="user-info-title">
                        <i class="me-1 fs-4 ph-duotone ph-balloon"></i>
                        <span class="card-text user-info-title fw-bold mb-0">CPF Id</span>
                      </div>
                      <p class="card-text mb-0">
                        <%= user[0]?.cpfId %>
                      </p>
                    </div>

                    <div class="d-flex flex-wrap my-50">
                      <div class="user-info-title">
                        <i class="me-1 fs-4 ph-duotone ph-cake"></i>
                        <span class="card-text user-info-title fw-bold mb-0">Date of Birth</span>
                      </div>
                      <p class="card-text mb-0">
                        <%= user[0]?.dob %>
                      </p>
                    </div>
                    <%}%>
                    <div class="d-flex flex-md-nowrap flex-wrap my-50">
                      <div class="user-info-title">
                        <i class="me-1 fs-4 ph-duotone ph-map-pin"></i>
                        <span class="card-text user-info-title fw-bold mb-0">Address</span>
                      </div>
                      <p class="card-text mb-0">
                        <%= user[0]?.address %>
                      </p>
                    </div>
                    <% if(user.role==3){%>
                      <div class="d-flex flex-wrap my-50">
                        <div class="user-info-title">
                          <i class="me-1 fs-4 ph-duotone ph-balloon"></i>
                          <span class="card-text user-info-title fw-bold mb-0">Doctor Id</span>
                        </div>
                        <p class="card-text mb-0">
                          <%= user?.doctorId %>
                        </p>
                      </div>
                      <div class="d-flex flex-wrap my-50">
                        <div class="user-info-title">
                          <i class="me-1 fs-4 ph-duotone ph-first-aid"></i>
                          <span class="card-text user-info-title fw-bold mb-0">Health Professional</span>
                        </div>
                        <p class="card-text mb-0">
                          <%= user?.categoryId?.title %>
                        </p>
                      </div>
                      <%}%>
                    
                  </div>
                </div>
           
              </div>
            </div>
          </div>
        </div>


        <!-- /User Card Ends-->
      </div>
    </div>
  </div>

</section>