<section class="app-user-view">
    <div class="app-user-view">
      <div class="user-info-wrapper">
        <div class="row">
          <!-- User Card starts-->
          <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="card user-card">
              <div class="card-body">
                <div class="row">
                  <div class="col-12 col-lg-12 mt-2 mt-xl-0 ms-auto text-start">
                    <button type="button" class="border-0 bg-transparent text-secondary  fs-1" onclick="history.back()"><i class="ph-duotone ph-arrow-circle-left"></i></button>
                  </div>
                  <div class="col-xl-12 col-lg-12 d-flex flex-column justify-content-between border-container-lg">
                    <div class="user-avatar-section">
                      <div class="d-flex justify-content-start">
                        <div class="d-flex flex-column ms-1">
                          <div class="user-info mb-1">
                            <h4 class="mb-0">
                              Question </h4>
                            <span class="card-text"><%= data[0]?.question%> </span>
                          </div>
                          <!-- <div class="user-info mb-1">
                            <h4 class="mb-0">
                              Answer </h4>
                              <span class="card-text"><%= data?.answer%></span>
                          </div> -->
                          
                        </div>
                      </div>
                    </div>
  
                  </div>
                 
                </div>
              </div>
            </div>
          </div>  
  
        </div>
      </div>
    </div>
  
  </section>
  <section class="app-user-list">

    <!-- list section start -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Answers</h3>
      </div>
      <div class="card-datatable table-responsive pt-0">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
          <table id="myTable" class="display">
            <thead>
              <tr>
                <th>S no.</th>
                <th>Answers</th>
                <th>Patient Name</th>
                <!-- <th>Status</th> -->
                <!-- <th>Actions</th> -->
              </tr>
            </thead>
            <% if(data[0].answerList.length> 0 ){ %>
                <tbody>
              <% data[0].answerList.forEach((data,i)=>{%>
                <tr>
                  <td><%= i+1%></td>
                  <td style="word-break: break-word;"><%= data?.answer%></td>
                  <td><%= data?.userDetails?.firstName + " " + data?.userDetails?.lastName%></td>
                  
                </tr>
                
                <%})%>
              </tbody>
              <%}else{%>
              <tr class="odd">
                <td valign="top" colspan="6" class="dataTables_empty">No data available in
                  table</td>
              </tr>
              <%}%>
          </table>
        </div>
      </div>
    </div>
    <!-- list section end -->
  </section>
  <script>
    $(document).ready(function() {
      $('#myTable').DataTable();
    });
  </script>