<section class="bs-validation">
    <div class="row">
      <div class="col-md-12 col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Edit Reward</h4>
          </div>
          <div class="card-body">
            <form id="jquery-val-form" method="post" enctype="multipart/form-data" action="/admin/updateReward">
              <div class="mb-1">
                <label class="form-label" for="title">Title</label>
                <input type="text" class="form-control" id="title" value="<%=rewardDetails?.title%>" name="title" placeholder="Title">
                <input type="hidden" name="id" value="<%=rewardDetails?._id%>">
                <input type="hidden" name="old_img" value="<%=rewardDetails?.image%>">
              </div>
  
              <div class="mb-1">
                <label>Image</label>
                <input type="file" id="productImg" name="image" class="form-control p-2" />
              </div>
              <img class="my-1" id="blah" src="<%= rewardDetails?.image ? rewardDetails?.image  : '/assets/noimages.png'%>" alt="your image" width="100" height="100" />
  
              <div class="mb-1">
                <label class="form-label" for="content">Description</label>
                <textarea class="ckeditor form-control" name="description"><%= rewardDetails?.description%></textarea>
                </div>
              </div>
              <div class="d-flex justify-content-center mb-2">
                <button type="submit" class="btn btn-primary waves-effect waves-float waves-light" style="margin-right: 10px;" name="submit" value="Submit">Submit</button>
                <button class="btn btn-secondary" onclick="history.back()">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /jQuery Validation -->
    </div>
  </section>
  <script>
    productImg.onchange = (evt) => {
      const [file] = productImg.files;
      if (file) {
        blah.src = URL.createObjectURL(file);
      }
    };
  
    $('#jquery-val-form').validate({
      rules: {
        "title": {
          required: true,
        },
        // "image": {
        //   required: true,
        // },
        "description": {
          required: true,
        }
      },
      messages: {
        "title": {
          required: "Title field is required",
          minlength: "Title field must contain at least {0} characters",
        },
        // "image": {
        //   required: "Image field is required",
        //   minlength: "Image field must contain at least {0} characters",
        // },
        "description": {
          required: "Description field is required",
          minlength: "Description field must contain at least {0} characters",
        }
      },
    });
  </script>
  