<section class="app-user-view">
  <div class="app-user-view">
    <div class="user-info-wrapper">
      <div class="row">
        <!-- User Card starts-->
        <div class="col-12">
          <div class="card user-card">
            <div class="card-body">
              <div class="row">
                <div class="col-12 col-lg-12 mt-2 mt-xl-0 ms-auto text-start">
                  <button type="button" class="border-0 bg-transparent text-secondary  fs-1" onclick="history.back()"><i class="ph-duotone ph-arrow-circle-left"></i></button>
                </div>
                <div class="col-xl-6 col-lg-12 d-flex flex-column justify-content-between border-container-lg">
                  <div class="user-avatar-section">
                    <div class="d-flex justify-content-start">
                        <img class="img-fluid rounded" src="<%= get_user?.image ? get_user?.image : '/assets/noimages.png' %>"
                          width="150" alt="User avatar">
                      <div class="d-flex flex-column ms-1">
                        <div class="user-info mb-1">
                          <h4 class="mb-0"><%= get_user?.firstName + " " + get_user?.lastName %></h4>
                          <span class="card-text"><%= get_user.email%></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="col-xl-6 col-lg-12 mt-2 mt-xl-0">
                  <div class="user-info-wrapper">
                    <div class="d-flex flex-wrap my-50">
                      <div class="user-info-title">
                        <i class="me-1 fs-4 ph-duotone ph-check-circle"></i>
                        <span class="card-text user-info-title fw-bold mb-0">Status</span>
                      </div>
                      <p class="card-text mb-0"><%= get_user?.status==1 ? 'Active' : 'InActive' %></p>
                    </div>
                    <div class="d-flex flex-wrap my-50">
                      <div class="user-info-title">
                        <i class="me-1 fs-4 ph-duotone ph-star"></i>
                        <span class="card-text user-info-title fw-bold mb-0">Role</span>
                      </div>
                      <p class="card-text mb-0">Patient</p>
                    </div>
                    <div class="d-flex flex-wrap">
                      <div class="user-info-title">
                        <i class="me-1 fs-4 ph-duotone ph-phone"></i>
                        <span class="card-text user-info-title fw-bold mb-0">Mobile</span>
                      </div>
                      <p class="card-text mb-0"><%= get_user?.countrycode? get_user?.countrycode :"+1"%><%= get_user?.phoneNumber%></p>
                    </div>
                    <div class="d-flex flex-wrap my-50">
                      <div class="user-info-title">
                        <i class="me-1 fs-4 ph-duotone ph-balloon"></i>
                        <span class="card-text user-info-title fw-bold mb-0">CPF Id</span>
                      </div>
                      <p class="card-text mb-0"><%= get_user?.cpfId %></p>
                    </div>

                    <div class="d-flex flex-wrap my-50">
                      <div class="user-info-title">
                        <i class="me-1 fs-4 ph-duotone ph-cake"></i>
                        <span class="card-text user-info-title fw-bold mb-0">Date of Birth</span>
                      </div>
                      <p class="card-text mb-0"><%= get_user?.dob %></p>
                    </div>
                    <div class="d-flex flex-md-nowrap flex-wrap my-50">
                      <div class="user-info-title">
                        <i class="me-1 fs-4 ph-duotone ph-map-pin"></i>
                        <span class="card-text user-info-title fw-bold mb-0">Address</span>
                      </div>
                      <p class="card-text mb-0"><%= get_user?.address %></p>
                    </div>
                    <!-- <a href="/subadmin/userchat/<%= get_user?._id%>" class="card-link">Chat with Patient</a> -->
                  </div>
                </div>
                <div>
                  <form method="post" enctype="multipart/form-data" action="/subadmin/uploadInvoice">
                    <span class="card-text user-info-title fw-bold mb-0">Upload Invoice</span>
                    <input type="file" name="invoice" value="" class="visually-hidden" id="intup01" onchange="preview()" required>
                    <label for="intup01" class="label_upload mb-2">
                      <img src="" alt="" id="frame" >
                      <i class="ph-fill ph-camera"></i>
                      <button type="submit" class="btn btn-sm btn-primary">Upload</button>
                    </label>
                    <input type="hidden" name="userId" value="<%= get_user?._id %>" required>
                  </form>
                </div>
                <div class="col-12 pt-2 text-center">
                  <a href="/subadmin/userchat/<%= get_user?._id%>" class="btn btn-primary fs-4 w-auto  "><i class="ph-duotone ph-chat-circle-dots fs-3"></i> Chat with Patient</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- /User Card Ends-->
      </div>
    </div>
  </div>

</section>

<section class="app-user-list">

  <!-- list section start -->
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Prescription</h3>
    </div>
    <div class="card-datatable table-responsive pt-0">
      <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
        <table id="myTable" class="display">
          <thead>
            <tr>
              <th>S no.</th>
              <th>Doctor Name</th>
              <th>Uploaded By</th>
              <th>Description</th>
              <th>Image</th>
              <!-- <th>Status</th> -->
              <th>Actions</th>
            </tr>
          </thead>
          <% if(mergedArray.length> 0 ){ %>
            <tbody>
          <% mergedArray.forEach((data,i)=>{%>
            <tr>
              <td><%= i+1%></td>
              <td><%=data.doctorId.firstName + " " + data?.doctorId.lastName%> </td>
              <td><%= data.patientId? get_user.firstName+' '+get_user.lastName : data.doctorId.firstName+' '+data.doctorId.lastName %></td>
              <td style="word-break: break-word;"><%=data?.note.substring(0,20) + "..."%> </td>
              <td> <img class="" id="blah" src="<%= data?.image ? data?.image : '/assets/noimages.png' %>" alt="your image" width="70" height="70" />
              </td>
              <td>
                <div class="dropdown">
                  <button type="button" class="btn btn-sm dropdown-toggle hide-arrow waves-effect waves-float waves-light" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                      <circle cx="12" cy="12" r="1"></circle>
                      <circle cx="12" cy="5" r="1"></circle>
                      <circle cx="12" cy="19" r="1"></circle>
                    </svg>
                  </button>
                  <div class="dropdown-menu" >
                    <a class="dropdown-item" href="/subadmin/prescriptionView/<%= data?._id%>">
                      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 me-50">
                        <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z">
                        </path>
                      </svg>
                      <span>View</span>
                    </a>
                  </div>
                </div>
              </td>
             
            </tr>
            
            <%})%>
          </tbody>
          <%}else{%>
          <tr class="odd">
            <td valign="top" colspan="6" class="dataTables_empty">No data available in
              table</td>
          </tr>
          <%}%>
        </table>
      </div>
    </div>
  </div>
  <!-- list section end -->
</section>


<script>
  $(document).ready(function() {
    $('#myTable').DataTable();
  });

  // intup01.onchange = evt => {
  //   const [file] = intup01.files
  //   if (file) {
  //     blah.src = URL.createObjectURL(file)
  //   }
  // }
  function preview() {
    frame.src=URL.createObjectURL(event.target.files[0]);
  }
</script>

<section class="app-user-list">

  <!-- list section start -->
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Invoice</h3>
    </div>
    <div class="card-datatable table-responsive pt-0">
      <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
        <table id="myTable1" class="display">
          <thead>
            <tr>
              <th>S no.</th>
              <th>Uploaded By</th>
              <th>Image</th>
            </tr>
          </thead>
          <% if(get_all_invoice.length> 0 ){ %>
            <tbody>
          <% get_all_invoice.forEach((data,i)=>{%>
            <tr>
              <td><%= i+1%></td>
              <td><%= data?.uploadedBy?.firstName + " " + data?.uploadedBy?.lastName %> </td>
              <td> <img class="" id="blah" src="<%= data?.invoice ? data?.invoice : '/assets/noimages.png' %>" alt="your image" width="70" height="70" />
              </td>
            </tr>
            
            <%})%>
          </tbody>
          <%}else{%>
          <tr class="odd">
            <td valign="top" colspan="6" class="dataTables_empty">No data available in
              table</td>
          </tr>
          <%}%>
          
        </table>
      </div>
    </div>
  </div>
  <!-- list section end -->
</section>



<script>
  $(document).ready(function() {
    $('#myTable1').DataTable();
  });
</script>


   